/* @import 'styles/colors'; */

.IconButton {
  margin: 0;
  padding: 15px;
  border: none;
  border-radius: 50%;
  box-shadow: 6px 8px 10px rgb(66, 2, 66);
  background-color: rgb(156, 91, 156);
  font: inherit;

  cursor: pointer;

  display: flex;
  margin-left: auto;
}
